<form id = 'login-form'>
    <div>
        <label>username</label>
        <input type="text">
    </div>
    <div>
        <label>password</label>
        <input type="text">
    </div>
    <button type = "submit" id = 'loginButton'></button>
</form>
<form id = 'signup-form'>
    <div>
        <label></label>
        <input type="text">
    </div>
    <div>
        <label></label>
        <input type="text">
    </div>
    <button type = "submit" id = 'signupButton'></button>
</form>

<script src = '/js/login.js'></script>